# Prediction of Measles Disease Coverage

In [851]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset
df = pd.read_csv(r"C:\Users\DELL\Desktop\nigerian-health-care-facilities-primary-secondary-and-tertiary.csv")
df

,id,name,global_id,alternate_name,functional_status,type,ward_code,category,timestamp,accessibility,lga_name,lga_code,state_code,state_name
0,1,G R A Nursing Home,af719462-abfd-4f47-9dc3-0987164e75ac,Nursing Home,Unknown,Primary,12413,Primary Health Center,2020/07/04 13:49:18+00,NaN,Maiduguri,124.0,BR,Borno
1,2,Gishili Health Center,a29b0328-d844-4358-b0ab-2e120b8fb30f,Nursing Home,Functional,Primary,12413,Primary Health Center,2020/07/04 13:49:18+00,Unknown,Maiduguri,124.0,BR,Borno
2,3,Lehobi Primary Health Care,b685b769-5c83-4f83-a182-00e7e1b777d8,NaN,Partially Functional,Primary,10207,Primary Health Center,2020/07/04 13:49:18+00,NaN,Askira Uba,102.0,BR,Borno
3,4,Dugja Idp Camp,78e64f7a-cbb8-4357-9e64-a7e502534527,Mandara Girau Dispensary,Not Functional,Primary,10503,Primary Health Center,2020/07/04 13:49:18+00,Unknown,Biu,105.0,BR,Borno
4,5,Kopa Maikudiri Dispensary,409c97ce-7490-4dc2-a8f8-2b8d53ad2b12,NaN,Partially Functional,Primary,10209,Dispensary,2020/07/04 13:49:18+00,Unknown,Askira Uba,102.0,BR,Borno
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46142,46605,Ardo Kola Primary Health Care Center,bd59e8e3-80a8-4239-8bbb-4e4c0f648c54,NaN,Functional,Primary,TRSARD02,Primary Health Center,2019/11/15 17:34:16+00,NaN,Ardo-Kola,35001.0,TA,Taraba
46143,46606,Ke Comprehensive Health Center,ef14c01b-bc46-4a5c-b61e-4f1634ba5a46,NaN,Unknown,Primary,RVSDEG03,Comprehensive Health Center,2019/11/15 17:29:44+00,NaN,Degema,33008.0,RI,Rivers
46144,46607,Bonny Primary Health Center,1e11690d-0a3b-4dbd-b379-8789f350affc,NaN,Functional,Primary,RVSBNY01,Primary Health Center,2019/11/15 17:15:50+00,NaN,Bonny,33007.0,RI,Rivers
46145,46608,Ukpe Primary Health Center,3f74184b-589f-4edb-815d-140ff020b456,NaN,Unknown,Primary,ODSIAE08,Primary Health Center,2019/11/15 17:34:16+00,NaN,Ilaje,29010.0,ON,Ondo
46146,"{""help"": ""https://data.ehealthafrica.org/api/3...","""success"": true","""result"": null}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [852]:
# Data cleaning and preprocessing (handle missing values, encode categorical variables)
missing_values = df.isnull().sum()
print("Missing Values:")
print(missing_values)

# Drop rows with missing values
# df = df.dropna()

Missing Values:
id                       0
name                     0
global_id                0
alternate_name       42121
functional_status        1
type                     1
ward_code                1
category                35
timestamp                1
accessibility        46013
lga_name                 1
lga_code                 1
state_code            1127
state_name               1
dtype: int64

# Checking for health facilities in a state and local government

In [853]:
state=input('Enter a state: ')

Enter a state: lagos

In [854]:
lga = input('Enter a lga: ')

Enter a lga: epe

In [855]:
df[(df['state_name'] == state.capitalize()) & (df['lga_name'] == lga.capitalize())]['name'].to_list()

['Itoikin Primary Care Centers',
 'Papa Primary Health Care Center',
 'Agbowa Primary Health Center',
 'Ilara Primary Health Care Center',
 'Eredo Primary Health Care Center',
 'Owu Primary Health Center',
 'Ado Ikosi Primary Health Center',
 'Mojoda Community Health Center Epe',
 'Odomola Primary Health Center',
 'Afuye Primary Health Care Center',
 'Otta Ikosi Primary Health Care Center',
 'Igbonla Primary Health Care Center',
 'Ajebo Health Center',
 'Agbowa General Hospital',
 'Oriba Health Center',
 'Ode Omi',
 'Noforija Primary Health Center',
 'Sargidan Primary Health Center',
 'Odo Oluwa Medical Center',
 'Arapagi Primary Health Clinic',
 'Igbodu Health Post',
 'Igbogun',
 'Ketuejirin General Hospital',
 'Ejirin Primary Health Center',
 'Orugbo Health Post',
 'Ibowon Primary Health Center',
 'Okooba Primary Health Center',
 'Ijado Health Clinic',
 'Alasco Hospital',
 'Grace Land Hospital',
 'Eucharistic Heart of Jesus Maternity',
 'Epe Central Primary Health Center',
 'Museju Primary Health Center',
 'Sala Primary Health Center',
 'Alafia Health Clinic',
 'Adele Health Center',
 'Ide 1 Health Post',
 'Epe General Hospital',
 'Aboriji Primary Health Center',
 'Obada Dispensary',
 'Ifeoluwa Clinic and Maternity Ota',
 'Goshen Clinic',
 'Igbonla Primary Health Center',
 'Epe Primary Health Center',
 'Odo Ayandelu Health Clinic',
 'Palsons Convalescent Health Center',
 'True Care Model Hospital']

In [856]:
no_of_centers = df.groupby(['state_name','lga_name'])['name'].count()
no_of_centers

state_name  lga_name
Abia        Aba North        104
            Aba South         74
            Arochukwu         72
            Bende             68
            Ikwuano           53
                            ...
Zamfara     Maru              85
            Shinkafi          55
            Talata Mafara     62
            Tsafe             70
            Zurmi             68
Name: name, Length: 774, dtype: int64

In [857]:
#Extracing relevant columns from the demographics data

In [858]:
demographics = pd.read_excel(r"C:\Users\DELL\Desktop\ai_hackathon__data.xlsx",sheet_name = 'Demographics')

In [859]:
demographics.head()

,period,datasource,indicator,location,value_type,age,gender,education_level,residence,wealth_quintile,value,Sub_dashboard
0,1990,IHME,Maternal Mortality Ratio,Nigeria,Lower bound,All,All,All,All,All,179.3,Demographics
1,1991,IHME,Maternal Mortality Ratio,Nigeria,Lower bound,All,All,All,All,All,175.8,Demographics
2,1992,IHME,Maternal Mortality Ratio,Nigeria,Lower bound,All,All,All,All,All,189.3,Demographics
3,1993,IHME,Maternal Mortality Ratio,Nigeria,Lower bound,All,All,All,All,All,180.4,Demographics
4,1994,IHME,Maternal Mortality Ratio,Nigeria,Lower bound,All,All,All,All,All,176.7,Demographics

In [860]:
maternal_mortality_ratio = demographics[demographics['indicator'] == 'Maternal Mortality Ratio']
maternal_mortality_ratio = maternal_mortality_ratio.drop(
    columns = ['age','gender','education_level','residence','wealth_quintile','Sub_dashboard'])

maternal_mortality_ratio

,period,datasource,indicator,location,value_type,value
0,1990,IHME,Maternal Mortality Ratio,Nigeria,Lower bound,179.3
1,1991,IHME,Maternal Mortality Ratio,Nigeria,Lower bound,175.8
2,1992,IHME,Maternal Mortality Ratio,Nigeria,Lower bound,189.3
3,1993,IHME,Maternal Mortality Ratio,Nigeria,Lower bound,180.4
4,1994,IHME,Maternal Mortality Ratio,Nigeria,Lower bound,176.7
...,...,...,...,...,...,...
84408,2022,NHMIS-DHIS2,Maternal Mortality Ratio,Enugu West Sen. Dist.,Routine,206.9
84409,2022,NHMIS-DHIS2,Maternal Mortality Ratio,Jigawa North-West Sen. Dist.,Routine,582.9
84410,2022,NHMIS-DHIS2,Maternal Mortality Ratio,Kebbi Central Sen. Dist.,Routine,1310.9
84617,45039,NHMIS-DHIS2 (monthly),Maternal Mortality Ratio,Nigeria,Routine,479.3
84627,45069,NHMIS-DHIS2 (monthly),Maternal Mortality Ratio,Nigeria,Routine,433.1

In [861]:
Neonatal_mortality_rate = demographics[demographics['indicator'] == 'Neonatal mortality rate (per 1000 live births)']
Neonatal_mortality_rate = Neonatal_mortality_rate.drop(
    columns = ['age','gender','education_level','residence','wealth_quintile','Sub_dashboard'])

Neonatal_mortality_rate

,period,datasource,indicator,location,value_type,value
28,2000,IHME,Neonatal mortality rate (per 1000 live births),Abia,Estimate,39.3
29,2005,IHME,Neonatal mortality rate (per 1000 live births),Abia,Estimate,37.1
30,2010,IHME,Neonatal mortality rate (per 1000 live births),Abia,Estimate,31.6
31,2015,IHME,Neonatal mortality rate (per 1000 live births),Abia,Estimate,26.2
32,2000,IHME,Neonatal mortality rate (per 1000 live births),FCT,Estimate,39.7
...,...,...,...,...,...,...
84508,2022,NHMIS-DHIS2,Neonatal mortality rate (per 1000 live births),Nassarawa West Sen. Dist.,Routine,9.0
84509,2022,NHMIS-DHIS2,Neonatal mortality rate (per 1000 live births),Nassarawa South Sen. Dist.,Routine,6.9
84510,2022,NHMIS-DHIS2,Neonatal mortality rate (per 1000 live births),Zamfara Central Sen. Dist.,Routine,3.1
84618,45039,NHMIS-DHIS2 (monthly),Neonatal mortality rate (per 1000 live births),Nigeria,Routine,8.1
84628,45069,NHMIS-DHIS2 (monthly),Neonatal mortality rate (per 1000 live births),Nigeria,Routine,6.6

In [862]:
under_5_mortality_rate = demographics[demographics['indicator'] == 'Under 5 Mortality rate']
under_5_mortality_rate = under_5_mortality_rate.drop(
    columns = ['age','gender','education_level','residence','wealth_quintile','Sub_dashboard'])

under_5_mortality_rate

,period,datasource,indicator,location,value_type,value
176,2000,IHME,Under 5 Mortality rate,Abia,Estimate,142.2
177,2005,IHME,Under 5 Mortality rate,Abia,Estimate,127.7
178,2010,IHME,Under 5 Mortality rate,Abia,Estimate,97.9
179,2015,IHME,Under 5 Mortality rate,Abia,Estimate,74.4
180,2000,IHME,Under 5 Mortality rate,FCT,Estimate,131.4
...,...,...,...,...,...,...
84613,2022,NHMIS-DHIS2,Under 5 Mortality rate,Ebonyi South Sen. Dist.,Routine,5.0
84614,2022,NHMIS-DHIS2,Under 5 Mortality rate,Gombe North Sen. Dist.,Routine,19.8
84615,2022,NHMIS-DHIS2,Under 5 Mortality rate,Federal Capital Territory Sen. Dist.,Routine,15.8
84620,45039,NHMIS-DHIS2 (monthly),Under 5 Mortality rate,Nigeria,Routine,16.7
84630,45069,NHMIS-DHIS2 (monthly),Under 5 Mortality rate,Nigeria,Routine,10.9

In [863]:
total_pop = demographics[demographics['indicator'] == 'Total population']
total_pop = total_pop.drop(
    columns = ['age','gender','education_level','residence','wealth_quintile','Sub_dashboard'])

total_pop

,period,datasource,indicator,location,value_type,value
39637,1960,World Bank,Total population,Nigeria,Estimate,94.0
39638,1961,World Bank,Total population,Nigeria,Estimate,95.3
39639,1962,World Bank,Total population,Nigeria,Estimate,28.1
39640,1963,World Bank,Total population,Nigeria,Estimate,19.4
39641,1964,World Bank,Total population,Nigeria,Estimate,17.6
...,...,...,...,...,...,...
84112,2022,NHMIS-DHIS2,Total population,Maru LGA,Routine,0.0
84115,2022,NHMIS-DHIS2,Total population,Shinkafi LGA,Routine,0.0
84118,2022,NHMIS-DHIS2,Total population,Talata Mafara LGA,Routine,0.0
84121,2022,NHMIS-DHIS2,Total population,Tsafe LGA,Routine,0.0
84124,2022,NHMIS-DHIS2,Total population,Zurmi LGA,Routine,0.0

In [864]:
#Extracing relevant columns from the health service access data
hsa = pd.read_excel(r"C:\Users\DELL\Desktop\ai_hackathon__data.xlsx",sheet_name = 'Health_Service_Access')

In [865]:

percent_pregnant_women_hiv_tested = hsa[hsa['indicator'] == 'Percentage of pregnant women tested for HIV during antenatal care']
percent_pregnant_women_hiv_tested = percent_pregnant_women_hiv_tested.drop(
    columns = ['age','gender','education_level','residence','wealth_quintile','Sub_dashboard'])

percent_pregnant_women_hiv_tested

,period,datasource,indicator,location,value_type,value
0,2018,NNHS,Percentage of pregnant women tested for HIV du...,Nigeria,Lower bound,30.9
1,2018,NNHS,Percentage of pregnant women tested for HIV du...,Abia,Lower bound,29.2
2,2018,NNHS,Percentage of pregnant women tested for HIV du...,Adamawa,Lower bound,14.8
3,2018,NNHS,Percentage of pregnant women tested for HIV du...,Akwa Ibom,Lower bound,27.1
4,2018,NNHS,Percentage of pregnant women tested for HIV du...,Anambra,Lower bound,38.2
...,...,...,...,...,...,...
1649,2020,KDGHS,Percentage of pregnant women tested for HIV du...,Zangon Kataf LGA,Survey,27.9
1650,2020,KDGHS,Percentage of pregnant women tested for HIV du...,Zaria LGA,Survey,1.0
2105,2018,UNAIDS,Percentage of pregnant women tested for HIV du...,Nigeria,Estimate,38.0
2106,2019,UNAIDS,Percentage of pregnant women tested for HIV du...,Nigeria,Estimate,38.0
2107,2020,UNAIDS,Percentage of pregnant women tested for HIV du...,Nigeria,Estimate,32.0

In [866]:
# disease_survellance['indicator'].value_counts().head(10)

In [867]:
#Extracing relevant columns from the disease surveillance data
disease_survellance = pd.read_excel(r"C:\Users\DELL\Desktop\ai_hackathon__data.xlsx",sheet_name = 'Disease Surveilliance')

In [868]:
disease_survellance[disease_survellance['indicator'] == 'Monkeypox total confirmed cases']['period'].unique()

array([2017, 2018, 2019, 2020, 2021], dtype=int64)

In [869]:

measles_suspected_cases = disease_survellance[disease_survellance['indicator'] == 'Measles suspected cases']
measles_suspected_cases = measles_suspected_cases.drop(
    columns = ['age','gender','education_level','residence','wealth_quintile','Sub_dashboard'])

measles_suspected_cases

     period datasource                indicator location value_type    value
281    2021       NCDC  Measles suspected cases  Adamawa    Routine    157.0
282    2021       NCDC  Measles suspected cases   Bauchi    Routine    222.0
283    2021       NCDC  Measles suspected cases    Benue    Routine     63.0
284    2021       NCDC  Measles suspected cases    Borno    Routine   7865.0
285    2021       NCDC  Measles suspected cases      FCT    Routine     51.0
..      ...        ...                      ...      ...        ...      ...
393    2020       NCDC  Measles suspected cases     Ondo    Routine    177.0
394    2020       NCDC  Measles suspected cases     Osun    Routine    512.0
395    2020       NCDC  Measles suspected cases      Oyo    Routine    424.0
396    2020       NCDC  Measles suspected cases   Rivers    Routine    214.0
397    2020       NCDC  Measles suspected cases  Nigeria    Routine  15107.0

[114 rows x 6 columns]

In [870]:

measles_confirmed_cases = disease_survellance[disease_survellance['indicator'] == 'Monkeypox total confirmed cases']
measles_confirmed_cases = measles_confirmed_cases.drop(
    columns = ['age','gender','education_level','residence','wealth_quintile','Sub_dashboard'])

measles_confirmed_cases

,period,datasource,indicator,location,value_type,value
994,2017,NCDC,Monkeypox total confirmed cases,Nigeria,Routine,96.0
997,2018,NCDC,Monkeypox total confirmed cases,Nigeria,Routine,57.0
998,2019,NCDC,Monkeypox total confirmed cases,Nigeria,Routine,55.0
999,2020,NCDC,Monkeypox total confirmed cases,Nigeria,Routine,16.0
1000,2021,NCDC,Monkeypox total confirmed cases,Nigeria,Routine,42.0
...,...,...,...,...,...,...
1157,2017,NCDC,Monkeypox total confirmed cases,Ogun,Routine,8.0
1158,2018,NCDC,Monkeypox total confirmed cases,Ogun,Routine,8.0
1159,2019,NCDC,Monkeypox total confirmed cases,Ogun,Routine,8.0
1160,2020,NCDC,Monkeypox total confirmed cases,Ogun,Routine,8.0
1161,2021,NCDC,Monkeypox total confirmed cases,Ogun,Routine,9.0

In [871]:
#Extracing relevant columns from the health outcome data
health_outcome = pd.read_excel(r"C:\Users\DELL\Desktop\ai_hackathon__data.xlsx",sheet_name = 'Health_Outcome')

In [872]:

stunted_under_5_children = health_outcome[health_outcome['indicator'] == 'Prevalence of stunting among under 5 children']
stunted_under_5_children = stunted_under_5_children.drop(
    columns = ['age','gender','education_level','residence','wealth_quintile','Sub_dashboard'])

stunted_under_5_children

,period,datasource,indicator,location,value_type,value
1489,2000,IHME,Prevalence of stunting among under 5 children,Abia,Lower bound,21.6
1491,2001,IHME,Prevalence of stunting among under 5 children,Abia,Lower bound,22.3
1493,2002,IHME,Prevalence of stunting among under 5 children,Abia,Lower bound,23.0
1495,2003,IHME,Prevalence of stunting among under 5 children,Abia,Lower bound,28.3
1497,2004,IHME,Prevalence of stunting among under 5 children,Abia,Lower bound,25.6
...,...,...,...,...,...,...
192109,2019,IHME,Prevalence of stunting among under 5 children,Zurmi LGA,Lower bound,46.8
192110,2019,IHME,Prevalence of stunting among under 5 children,Zurmi LGA,Upper bound,75.2
192111,2019,IHME,Prevalence of stunting among under 5 children,Zuru LGA,Estimate,53.9
192112,2019,IHME,Prevalence of stunting among under 5 children,Zuru LGA,Lower bound,39.2
192113,2019,IHME,Prevalence of stunting among under 5 children,Zuru LGA,Upper bound,68.4

In [873]:

percent_children_under_6_exclusively_breastfed = health_outcome[health_outcome['indicator'] == 'Percentage of children under 6 months who were exclusively breastfed']
percent_children_under_6_exclusively_breastfed = percent_children_under_6_exclusively_breastfed.drop(
    columns = ['age','gender','education_level','residence','wealth_quintile','Sub_dashboard'])

percent_children_under_6_exclusively_breastfed

,period,datasource,indicator,location,value_type,value
17,2000,IHME,Percentage of children under 6 months who were...,Abia,Lower bound,12.0
18,2001,IHME,Percentage of children under 6 months who were...,Abia,Lower bound,9.6
19,2002,IHME,Percentage of children under 6 months who were...,Abia,Lower bound,9.1
20,2003,IHME,Percentage of children under 6 months who were...,Abia,Lower bound,10.5
21,2004,IHME,Percentage of children under 6 months who were...,Abia,Lower bound,9.1
...,...,...,...,...,...,...
253647,2022,NHMIS-DHIS2,Percentage of children under 6 months who were...,Imo West Sen. Dist.,Routine,11.7
253648,2022,NHMIS-DHIS2,Percentage of children under 6 months who were...,Kebbi North Sen. Dist.,Routine,8.3
253649,2022,NHMIS-DHIS2,Percentage of children under 6 months who were...,Niger South Sen. Dist.,Routine,6.7
254146,45039,NHMIS-DHIS2 (monthly),Percentage of children under 6 months who were...,Nigeria,Routine,16.2
254313,45069,NHMIS-DHIS2 (monthly),Percentage of children under 6 months who were...,Nigeria,Routine,32.0

In [874]:

skilled_attendance_at_delivery = health_outcome[health_outcome['indicator'] == 'Skilled attendance at delivery or birth']
skilled_attendance_at_delivery = skilled_attendance_at_delivery.drop(
    columns = ['age','gender','education_level','residence','wealth_quintile','Sub_dashboard'])

skilled_attendance_at_delivery

,period,datasource,indicator,location,value_type,value
3004,1990,IHME,Skilled attendance at delivery or birth,Nigeria,Lower bound,40.1
3005,1991,IHME,Skilled attendance at delivery or birth,Nigeria,Lower bound,40.9
3006,1992,IHME,Skilled attendance at delivery or birth,Nigeria,Lower bound,41.9
3007,1993,IHME,Skilled attendance at delivery or birth,Nigeria,Lower bound,43.0
3008,1994,IHME,Skilled attendance at delivery or birth,Nigeria,Lower bound,44.0
...,...,...,...,...,...,...
254120,2022,NHMIS-DHIS2,Skilled attendance at delivery or birth,Edo Central Sen. Dist.,Routine,42.2
254121,2022,NHMIS-DHIS2,Skilled attendance at delivery or birth,Edo North Sen. Dist.,Routine,33.4
254122,2022,NHMIS-DHIS2,Skilled attendance at delivery or birth,Edo South Sen. Dist.,Routine,36.1
254148,45039,NHMIS-DHIS2 (monthly),Skilled attendance at delivery or birth,Nigeria,Routine,44.3
254315,45069,NHMIS-DHIS2 (monthly),Skilled attendance at delivery or birth,Nigeria,Routine,45.8

In [875]:

percent_children_immunized_at_age1 = health_outcome[health_outcome['indicator'] == 'Percentage of children fully immunized against childhood diseases by age 1']
percent_children_immunized_at_age1 = percent_children_immunized_at_age1.drop(
    columns = ['age','gender','education_level','residence','wealth_quintile','Sub_dashboard'])

percent_children_immunized_at_age1

,period,datasource,indicator,location,value_type,value
5571,2011,MICS,Percentage of children fully immunized against...,Abia,Survey,64.1
5572,2011,MICS,Percentage of children fully immunized against...,Adamawa,Survey,40.2
5573,2011,MICS,Percentage of children fully immunized against...,Akwa Ibom,Survey,36.6
5574,2011,MICS,Percentage of children fully immunized against...,Anambra,Survey,56.0
5575,2011,MICS,Percentage of children fully immunized against...,Bauchi,Survey,24.3
...,...,...,...,...,...,...
249760,2022,NHMIS-DHIS2,Percentage of children fully immunized against...,Tsafe LGA,Routine,47.3
249773,2022,NHMIS-DHIS2,Percentage of children fully immunized against...,Zurmi LGA,Routine,57.0
253628,2022,NHMIS-DHIS2,Percentage of children fully immunized against...,Jigawa NorthÃ¢â‚¬â€œEast Sen. Dist.,Routine,13.5
254145,45039,NHMIS-DHIS2 (monthly),Percentage of children fully immunized against...,Nigeria,Routine,66.6
254312,45069,NHMIS-DHIS2 (monthly),Percentage of children fully immunized against...,Nigeria,Routine,64.2

In [876]:

percent_women_who_received_more_than_two_ipt_doses = health_outcome[health_outcome['indicator'] == 'Percentage of women age 15-49 years who received at least two or more IPT doses during pregnancy']
percent_women_who_received_more_than_two_ipt_doses = percent_women_who_received_more_than_two_ipt_doses.drop(
    columns = ['age','gender','education_level','residence','wealth_quintile','Sub_dashboard'])

percent_women_who_received_more_than_two_ipt_doses

,period,datasource,indicator,location,value_type,value
5960,2011,MICS,Percentage of women age 15-49 years who receiv...,Abia,Survey,23.0
5961,2011,MICS,Percentage of women age 15-49 years who receiv...,Adamawa,Survey,10.2
5962,2011,MICS,Percentage of women age 15-49 years who receiv...,Akwa Ibom,Survey,13.6
5973,2011,MICS,Percentage of women age 15-49 years who receiv...,Anambra,Survey,16.9
5975,2011,MICS,Percentage of women age 15-49 years who receiv...,Bauchi,Survey,45.9
...,...,...,...,...,...,...
253869,2022,NHMIS-DHIS2,Percentage of women age 15-49 years who receiv...,Anambra Central Sen. Dist.,Routine,53.3
253870,2022,NHMIS-DHIS2,Percentage of women age 15-49 years who receiv...,Akwa Ibom South Sen. Dist.,Routine,53.7
253871,2022,NHMIS-DHIS2,Percentage of women age 15-49 years who receiv...,Bauchi Central Sen. Dist.,Routine,44.9
254147,45039,NHMIS-DHIS2 (monthly),Percentage of women age 15-49 years who receiv...,Nigeria,Routine,58.4
254314,45069,NHMIS-DHIS2 (monthly),Percentage of women age 15-49 years who receiv...,Nigeria,Routine,54.1

In [877]:

percent_women_who_received_more_than_one_ipt_doses = health_outcome[health_outcome['indicator'] == 'Percentage of women age 15-49 years who received at least one IPT dose during pregnancy']
percent_women_who_received_more_than_one_ipt_doses = percent_women_who_received_more_than_one_ipt_doses.drop(
    columns = ['age','gender','education_level','residence','wealth_quintile','Sub_dashboard'])

percent_women_who_received_more_than_one_ipt_doses

,period,datasource,indicator,location,value_type,value
3771,2018,NNHS,Percentage of women age 15-49 years who receiv...,Nigeria,Lower bound,33.6
3772,2018,NNHS,Percentage of women age 15-49 years who receiv...,Abia,Lower bound,20.4
3773,2018,NNHS,Percentage of women age 15-49 years who receiv...,Adamawa,Lower bound,12.0
3774,2018,NNHS,Percentage of women age 15-49 years who receiv...,Akwa Ibom,Lower bound,28.1
3775,2018,NNHS,Percentage of women age 15-49 years who receiv...,Anambra,Lower bound,23.2
...,...,...,...,...,...,...
253773,2022,NHMIS-DHIS2,Percentage of women age 15-49 years who receiv...,Lagos Central Sen. Dist.,Routine,87.6
253774,2022,NHMIS-DHIS2,Percentage of women age 15-49 years who receiv...,Lagos East Sen. Dist.,Routine,58.0
253775,2022,NHMIS-DHIS2,Percentage of women age 15-49 years who receiv...,Lagos West Sen. Dist.,Routine,78.1
254152,45039,NHMIS-DHIS2 (monthly),Percentage of women age 15-49 years who receiv...,Nigeria,Routine,81.3
254319,45069,NHMIS-DHIS2 (monthly),Percentage of women age 15-49 years who receiv...,Nigeria,Routine,82.7

In [878]:

measles_immunization_coverage = health_outcome[health_outcome['indicator'] == 'Measles Immunization Coverage']
measles_immunization_coverage = measles_immunization_coverage.drop(
    columns = ['age','gender','education_level','residence','wealth_quintile','Sub_dashboard'])

measles_immunization_coverage

,period,datasource,indicator,location,value_type,value
2999,2010,IHME,Measles Immunization Coverage,Nigeria,Lower bound,52.7
3581,2018,NNHS,Measles Immunization Coverage,Nigeria,Lower bound,68.3
3582,2018,NNHS,Measles Immunization Coverage,Abia,Lower bound,82.8
3583,2018,NNHS,Measles Immunization Coverage,Adamawa,Lower bound,63.1
3584,2018,NNHS,Measles Immunization Coverage,Akwa Ibom,Lower bound,58.4
...,...,...,...,...,...,...
253891,2022,NHMIS-DHIS2,Measles Immunization Coverage,Niger North Sen. Dist.,Routine,9.4
253892,2022,NHMIS-DHIS2,Measles Immunization Coverage,Kebbi North Sen. Dist.,Routine,10.6
253893,2022,NHMIS-DHIS2,Measles Immunization Coverage,Taraba South Sen. Dist.,Routine,75.2
254143,45039,NHMIS-DHIS2 (monthly),Measles Immunization Coverage,Nigeria,Routine,74.9
254310,45069,NHMIS-DHIS2 (monthly),Measles Immunization Coverage,Nigeria,Routine,76.6

In [879]:
health_outcome['indicator'].value_counts().head(25)

Prevalence of stunting among under 5 children                                                       49339
Prevalence of wasting among under 5 children                                                        39341
Underweight prevalence among under 5 children                                                       26716
Percentage of children under 6 months who were exclusively breastfed                                22699
Measles Immunization Coverage                                                                       14533
Skilled attendance at delivery or birth                                                             10203
DPT 3/Penta 3 coverage                                                                               9576
ANC Coverage (at least 1 visit)                                                                      9559
Contraceptive prevalence rate                                                                        9100
ANC Coverage (4 visits)                                                                              9054
BCG Coverage                                                                                         8852
DPT 1/Penta 1 coverage                                                                               8749
Percentage of children fully immunized against childhood diseases by age 1                           6906
IPV coverage                                                                                         6458
Prevalence of HIV                                                                                    5586
Percentage of women age 15-49 years who received at least two or more IPT doses during pregnancy     3415
Vitamin A supplementation coverage                                                                   2530
OPV 1 coverage                                                                                       2132
Tetanus Toxoid vaccine coverage (2+)                                                                 2032
Percentage of women age 15-49 years who received at least one IPT dose during pregnancy              1126
Percentage of children with diarrhoea who received treatment                                          994
Prevalence of children with diarrhoea                                                                 845
Percentage of children under 5 with fever who received ACT                                            776
Postnatal care coverage (newborn)                                                                     374
Unmet need for family planning                                                                        340
Name: indicator, dtype: int64

In [880]:
# maternal_mortality_ratio

In [881]:
# measles_immunization_coverage

In [882]:
measles_immunization_coverage = measles_immunization_coverage[(measles_immunization_coverage['period']>=2012) & (measles_immunization_coverage['period']<=2023)]

In [883]:

df = measles_immunization_coverage.merge(Neonatal_mortality_rate,on = ['location','datasource','period'],suffixes = ('', '_neonatal'),how='left')

In [884]:
df

,period,datasource,indicator,location,value_type,value,indicator_neonatal,value_type_neonatal,value_neonatal
0,2018,NNHS,Measles Immunization Coverage,Nigeria,Lower bound,68.3,NaN,NaN,NaN
1,2018,NNHS,Measles Immunization Coverage,Abia,Lower bound,82.8,NaN,NaN,NaN
2,2018,NNHS,Measles Immunization Coverage,Adamawa,Lower bound,63.1,NaN,NaN,NaN
3,2018,NNHS,Measles Immunization Coverage,Akwa Ibom,Lower bound,58.4,NaN,NaN,NaN
4,2018,NNHS,Measles Immunization Coverage,Anambra,Lower bound,70.1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
12787,2022,NHMIS-DHIS2,Measles Immunization Coverage,Ebonyi South Sen. Dist.,Routine,731.6,Neonatal mortality rate (per 1000 live births),Routine,1.5
12788,2022,NHMIS-DHIS2,Measles Immunization Coverage,Enugu East Sen. Dist.,Routine,76.6,Neonatal mortality rate (per 1000 live births),Routine,14.8
12789,2022,NHMIS-DHIS2,Measles Immunization Coverage,Niger North Sen. Dist.,Routine,9.4,Neonatal mortality rate (per 1000 live births),Routine,18.3
12790,2022,NHMIS-DHIS2,Measles Immunization Coverage,Kebbi North Sen. Dist.,Routine,10.6,Neonatal mortality rate (per 1000 live births),Routine,1.0
12791,2022,NHMIS-DHIS2,Measles Immunization Coverage,Taraba South Sen. Dist.,Routine,75.2,Neonatal mortality rate (per 1000 live births),Routine,1.4

In [885]:
df = df.merge(maternal_mortality_ratio,on =['location','datasource','period'],suffixes = ('', '_mortality'),how='left')

In [886]:
df.shape

(18816, 12)

In [887]:
df = df.merge(under_5_mortality_rate,on = ['location','datasource','period'],suffixes = ('', '_under_5_mortality_rate'),how='left')
df.shape

(37638, 15)

In [888]:
df

,period,datasource,indicator,location,value_type,value,indicator_neonatal,value_type_neonatal,value_neonatal,indicator_mortality,value_type_mortality,value_mortality,indicator_under_5_mortality_rate,value_type_under_5_mortality_rate,value_under_5_mortality_rate
0,2018,NNHS,Measles Immunization Coverage,Nigeria,Lower bound,68.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,NNHS,Measles Immunization Coverage,Abia,Lower bound,82.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018,NNHS,Measles Immunization Coverage,Adamawa,Lower bound,63.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,NNHS,Measles Immunization Coverage,Akwa Ibom,Lower bound,58.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,NNHS,Measles Immunization Coverage,Anambra,Lower bound,70.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37633,2022,NHMIS-DHIS2,Measles Immunization Coverage,Ebonyi South Sen. Dist.,Routine,731.6,Neonatal mortality rate (per 1000 live births),Routine,1.5,NaN,NaN,NaN,Under 5 Mortality rate,Routine,5.0
37634,2022,NHMIS-DHIS2,Measles Immunization Coverage,Enugu East Sen. Dist.,Routine,76.6,Neonatal mortality rate (per 1000 live births),Routine,14.8,NaN,NaN,NaN,Under 5 Mortality rate,Routine,20.9
37635,2022,NHMIS-DHIS2,Measles Immunization Coverage,Niger North Sen. Dist.,Routine,9.4,Neonatal mortality rate (per 1000 live births),Routine,18.3,Maternal Mortality Ratio,Routine,260.8,Under 5 Mortality rate,Routine,3.4
37636,2022,NHMIS-DHIS2,Measles Immunization Coverage,Kebbi North Sen. Dist.,Routine,10.6,Neonatal mortality rate (per 1000 live births),Routine,1.0,Maternal Mortality Ratio,Routine,1276.8,Under 5 Mortality rate,Routine,34.3
37637,2022,NHMIS-DHIS2,Measles Immunization Coverage,Taraba South Sen. Dist.,Routine,75.2,Neonatal mortality rate (per 1000 live births),Routine,1.4,Maternal Mortality Ratio,Routine,391.3,Under 5 Mortality rate,Routine,6.7

In [889]:
df = df.merge(total_pop,on = ['location','datasource','period'],suffixes = ('', '_total_population'),how='left')
df.shape

(37638, 18)

In [890]:
df

,period,datasource,indicator,location,value_type,value,indicator_neonatal,value_type_neonatal,value_neonatal,indicator_mortality,value_type_mortality,value_mortality,indicator_under_5_mortality_rate,value_type_under_5_mortality_rate,value_under_5_mortality_rate,indicator_total_population,value_type_total_population,value_total_population
0,2018,NNHS,Measles Immunization Coverage,Nigeria,Lower bound,68.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,NNHS,Measles Immunization Coverage,Abia,Lower bound,82.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018,NNHS,Measles Immunization Coverage,Adamawa,Lower bound,63.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,NNHS,Measles Immunization Coverage,Akwa Ibom,Lower bound,58.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,NNHS,Measles Immunization Coverage,Anambra,Lower bound,70.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37633,2022,NHMIS-DHIS2,Measles Immunization Coverage,Ebonyi South Sen. Dist.,Routine,731.6,Neonatal mortality rate (per 1000 live births),Routine,1.5,NaN,NaN,NaN,Under 5 Mortality rate,Routine,5.0,NaN,NaN,NaN
37634,2022,NHMIS-DHIS2,Measles Immunization Coverage,Enugu East Sen. Dist.,Routine,76.6,Neonatal mortality rate (per 1000 live births),Routine,14.8,NaN,NaN,NaN,Under 5 Mortality rate,Routine,20.9,NaN,NaN,NaN
37635,2022,NHMIS-DHIS2,Measles Immunization Coverage,Niger North Sen. Dist.,Routine,9.4,Neonatal mortality rate (per 1000 live births),Routine,18.3,Maternal Mortality Ratio,Routine,260.8,Under 5 Mortality rate,Routine,3.4,NaN,NaN,NaN
37636,2022,NHMIS-DHIS2,Measles Immunization Coverage,Kebbi North Sen. Dist.,Routine,10.6,Neonatal mortality rate (per 1000 live births),Routine,1.0,Maternal Mortality Ratio,Routine,1276.8,Under 5 Mortality rate,Routine,34.3,NaN,NaN,NaN
37637,2022,NHMIS-DHIS2,Measles Immunization Coverage,Taraba South Sen. Dist.,Routine,75.2,Neonatal mortality rate (per 1000 live births),Routine,1.4,Maternal Mortality Ratio,Routine,391.3,Under 5 Mortality rate,Routine,6.7,NaN,NaN,NaN

In [891]:
df.isna().sum()

period                                  0
datasource                              0
indicator                               0
location                                0
value_type                              0
value                                   0
indicator_neonatal                   3307
value_type_neonatal                  3307
value_neonatal                       3307
indicator_mortality                  6204
value_type_mortality                 6204
value_mortality                      6204
indicator_under_5_mortality_rate     2528
value_type_under_5_mortality_rate    2528
value_under_5_mortality_rate         2528
indicator_total_population           9562
value_type_total_population          9562
value_total_population               9562
dtype: int64

In [892]:
# df = df.merge(percent_pregnant_women_hiv_tested,on = ['location','datasource','period'],suffixes = ('', '_percent_pregnant_women_hiv_tested'),how='left')
# df.shape

In [893]:
# df = df[~(df['period']>2023)]

In [894]:
# df = df.merge(measles_suspected_cases,on = ['location','datasource','period'],suffixes = ('', '_measles_suspected_cases'),how='left')
# df.shape

In [895]:
# df = df.merge(measles_confirmed_cases,on = ['location','datasource','period'],suffixes = ('', '_measles_confirmed_cases'),how='left')
# df.shape

In [896]:

df = df.merge(stunted_under_5_children,on =['location','datasource','period'],suffixes = ('', '_stunted_under_5_children'),how='left')
df.shape

(42814, 21)

In [897]:


df = df.merge(percent_children_under_6_exclusively_breastfed,on =['location','datasource','period'],suffixes = ('', '_percent_children_under_6_exclusively_breastfed'),how='left')
df.shape

(56701, 24)

In [898]:
df = df.merge(skilled_attendance_at_delivery,on =['location','datasource','period'],suffixes = ('', '_skilled_attendance_at_delivery'),how='left')
df.shape

(120487, 27)

In [899]:
df = df.merge(percent_children_immunized_at_age1,on =['location','datasource','period'],suffixes = ('', '_percent_children_immunized_at_age1'),how='left')
df.shape

(120523, 30)

In [900]:

df = df.merge(percent_women_who_received_more_than_two_ipt_doses,on =['location','datasource','period'],suffixes = ('', '_percent_women_who_received_more_than_two_ipt_doses'),how='left')
df.shape

(120559, 33)

In [901]:


df = df.merge(percent_women_who_received_more_than_one_ipt_doses,on =['location','datasource','period'],suffixes = ('', '_percent_women_who_received_more_than_one_ipt_doses'),how='left')
df.shape

(124483, 36)

In [902]:
df.head()

,period,datasource,indicator,location,value_type,value,indicator_neonatal,value_type_neonatal,value_neonatal,indicator_mortality,...,value_skilled_attendance_at_delivery,indicator_percent_children_immunized_at_age1,value_type_percent_children_immunized_at_age1,value_percent_children_immunized_at_age1,indicator_percent_women_who_received_more_than_two_ipt_doses,value_type_percent_women_who_received_more_than_two_ipt_doses,value_percent_women_who_received_more_than_two_ipt_doses,indicator_percent_women_who_received_more_than_one_ipt_doses,value_type_percent_women_who_received_more_than_one_ipt_doses,value_percent_women_who_received_more_than_one_ipt_doses
0,2018,NNHS,Measles Immunization Coverage,Nigeria,Lower bound,68.3,NaN,NaN,NaN,NaN,...,49.6,NaN,NaN,NaN,NaN,NaN,NaN,Percentage of women age 15-49 years who receiv...,Lower bound,33.6
1,2018,NNHS,Measles Immunization Coverage,Nigeria,Lower bound,68.3,NaN,NaN,NaN,NaN,...,49.6,NaN,NaN,NaN,NaN,NaN,NaN,Percentage of women age 15-49 years who receiv...,Survey,35.7
2,2018,NNHS,Measles Immunization Coverage,Nigeria,Lower bound,68.3,NaN,NaN,NaN,NaN,...,49.6,NaN,NaN,NaN,NaN,NaN,NaN,Percentage of women age 15-49 years who receiv...,Upper bound,37.8
3,2018,NNHS,Measles Immunization Coverage,Nigeria,Lower bound,68.3,NaN,NaN,NaN,NaN,...,52.0,NaN,NaN,NaN,NaN,NaN,NaN,Percentage of women age 15-49 years who receiv...,Lower bound,33.6
4,2018,NNHS,Measles Immunization Coverage,Nigeria,Lower bound,68.3,NaN,NaN,NaN,NaN,...,52.0,NaN,NaN,NaN,NaN,NaN,NaN,Percentage of women age 15-49 years who receiv...,Survey,35.7

In [903]:
# df.columns.to_list().str.contains('indicator')
indicators = []
for col in df.columns.to_list():
    if 'indicator' in col:
        indicators.append(col)

In [904]:
indicators

['indicator',
 'indicator_neonatal',
 'indicator_mortality',
 'indicator_under_5_mortality_rate',
 'indicator_total_population',
 'indicator_stunted_under_5_children',
 'indicator_percent_children_under_6_exclusively_breastfed',
 'indicator_skilled_attendance_at_delivery',
 'indicator_percent_children_immunized_at_age1',
 'indicator_percent_women_who_received_more_than_two_ipt_doses',
 'indicator_percent_women_who_received_more_than_one_ipt_doses']

In [905]:
df = df.drop(columns = indicators)

In [906]:
df.columns

Index(['period', 'datasource', 'location', 'value_type', 'value',
       'value_type_neonatal', 'value_neonatal', 'value_type_mortality',
       'value_mortality', 'value_type_under_5_mortality_rate',
       'value_under_5_mortality_rate', 'value_type_total_population',
       'value_total_population', 'value_type_stunted_under_5_children',
       'value_stunted_under_5_children',
       'value_type_percent_children_under_6_exclusively_breastfed',
       'value_percent_children_under_6_exclusively_breastfed',
       'value_type_skilled_attendance_at_delivery',
       'value_skilled_attendance_at_delivery',
       'value_type_percent_children_immunized_at_age1',
       'value_percent_children_immunized_at_age1',
       'value_type_percent_women_who_received_more_than_two_ipt_doses',
       'value_percent_women_who_received_more_than_two_ipt_doses',
       'value_type_percent_women_who_received_more_than_one_ipt_doses',
       'value_percent_women_who_received_more_than_one_ipt_doses'],
      dtype='object')

In [926]:
df.isna().sum()

period                                                               0
datasource                                                           0
location                                                             0
value_type                                                           0
value                                                                0
value_type_neonatal                                                105
value_neonatal                                                     105
value_type_mortality                                               304
value_mortality                                                    304
value_type_under_5_mortality_rate                                   25
value_under_5_mortality_rate                                        25
value_type_total_population                                          0
value_total_population                                               0
value_type_stunted_under_5_children                              27257
value_stunted_under_5_children                                   27257
value_type_percent_children_under_6_exclusively_breastfed        13098
value_percent_children_under_6_exclusively_breastfed             13098
value_type_skilled_attendance_at_delivery                            0
value_skilled_attendance_at_delivery                                 0
value_type_percent_children_immunized_at_age1                     2237
value_percent_children_immunized_at_age1                          2237
value_type_percent_women_who_received_more_than_two_ipt_doses        6
value_percent_women_who_received_more_than_two_ipt_doses             6
value_type_percent_women_who_received_more_than_one_ipt_doses     3268
value_percent_women_who_received_more_than_one_ipt_doses          3268
value_shift_1                                                      806
value_shift_2                                                     1145
dtype: int64

In [908]:
df.shape

(124483, 25)

In [909]:
df = df.drop_duplicates()

In [910]:
df.sample(100)

,period,datasource,location,value_type,value,value_type_neonatal,value_neonatal,value_type_mortality,value_mortality,value_type_under_5_mortality_rate,...,value_type_percent_children_under_6_exclusively_breastfed,value_percent_children_under_6_exclusively_breastfed,value_type_skilled_attendance_at_delivery,value_skilled_attendance_at_delivery,value_type_percent_children_immunized_at_age1,value_percent_children_immunized_at_age1,value_type_percent_women_who_received_more_than_two_ipt_doses,value_percent_women_who_received_more_than_two_ipt_doses,value_type_percent_women_who_received_more_than_one_ipt_doses,value_percent_women_who_received_more_than_one_ipt_doses
54402,2018,IHME,Zamfara,Upper bound,37.8,NaN,NaN,NaN,NaN,NaN,...,Upper bound,21.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121031,2021,NHMIS-DHIS2,Benue,Denominator,262943.8,Numerator,320.0,Denominator,27363.0,Routine,...,NaN,NaN,Denominator,51648.0,Routine,49.10,Routine,25.5,NaN,NaN
114679,2019,NHMIS-DHIS2,Akwa Ibom,Denominator,242184.7,Routine,21.3,Numerator,11.0,Numerator,...,NaN,NaN,Numerator,6286.0,Routine,51.60,Routine,63.6,Routine,77.0
76332,2015,NHMIS-DHIS2,Edo,Numerator,59396.0,Denominator,12604.0,Denominator,17459.0,Denominator,...,NaN,NaN,Routine,57.9,Routine,32.70,Routine,36.3,Routine,42.8
10243,2015,NHMIS-DHIS2,Taraba,Routine,38.4,Denominator,7571.0,Routine,766.3,Numerator,...,Routine,19.00,Numerator,3926.0,Routine,28.10,Routine,18.9,Routine,26.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26316,2020,NHMIS-DHIS2,FCT,Routine,109.8,Routine,8.7,Denominator,43629.0,Numerator,...,NaN,NaN,Routine,55.0,Routine,86.60,Routine,75.9,Routine,78.6
41808,2021,NHMIS-DHIS2,Benue,Routine,67.6,Routine,12.7,Denominator,27363.0,Denominator,...,NaN,NaN,Denominator,51648.0,Routine,49.10,Routine,25.5,NaN,NaN
46218,2014,IHME,Niger,Lower bound,40.3,Estimate,42.4,NaN,NaN,Estimate,...,Upper bound,25.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71241,2013,NHMIS-DHIS2,Katsina,Numerator,1429.0,Routine,3.5,Routine,187.4,Denominator,...,Routine,6.57,Routine,75.1,Routine,6.23,Routine,26.3,Routine,6.2
83502,2017,NHMIS-DHIS2,Nasarawa,Numerator,150769.0,Routine,7.1,Numerator,118.0,Numerator,...,NaN,NaN,Routine,59.2,NaN,NaN,Routine,57.2,Routine,56.1

In [911]:
df.shape

(124483, 25)

In [912]:
df['value_type'].value_counts()

Routine        34279
Numerator      26802
Denominator    26802
Lower bound    11826
Upper bound    11826
Estimate        9906
Survey          3042
Name: value_type, dtype: int64

In [913]:
df = df.sort_values(by = ['datasource','location','period','value_type'],ascending = True)

In [919]:
df.shape

(34279, 27)

In [917]:
df['value_shift_1'] = df.groupby(['datasource','location','period','value_type'])['value'].shift(1)
df['value_shift_2'] = df.groupby(['datasource','location','period','value_type'])['value'].shift(2)

In [918]:
df = df[df['value_type'] == 'Routine']

In [920]:
df = df.dropna(thresh = 18)

In [938]:
df = df.dropna(thresh = 0.98*(df.shape[0]), axis = 1)

In [939]:
df.shape

(27257, 17)

In [940]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression  # Import LogisticRegression
from sklearn.metrics import accuracy_score
from catboost import CatBoostRegressor
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_squared_error

In [941]:
# Feature selection and preprocessing
# Remove irrelevant columns
# df = df.drop(["id", "name", "global_id"], axis=1)

In [942]:
# Define features and target
X = df.drop("value", axis=1)
y = df["value"]

In [943]:
categorical_features = X.select_dtypes('object').columns.to_list()

In [944]:

numerical_features = X.select_dtypes('number').columns.to_list()  # No numerical features in the provided data

In [945]:
# Create transformers for preprocessing
categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

In [946]:
# Create transformers for preprocessing
numerical_transformer = Pipeline(steps=[
    ('scaler', MinMaxScaler())
])

In [947]:
# Column transformer for preprocessing
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, categorical_features),
        ('scaling', numerical_transformer,  numerical_features)
    ])

In [957]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42,shuffle=True)

In [958]:
# Apply preprocessing to the training and testing data
X_train = preprocessor.fit_transform(X_train)
X_test = preprocessor.transform(X_test)

In [959]:
# Train a Logistic Regression model
model = LGBMRegressor(n_estimators = 300)
model.fit(X_train, y_train)

LGBMRegressor(n_estimators=300)

In [960]:
# Make predictions
y_pred = model.predict(X_test)

In [961]:
# Evaluate the model
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(f"rmse: {rmse}")

rmse: 3.6752233017256772

In [962]:
y_pred[-5:]

array([101.58548055,  74.8431546 ,  96.93493311,  65.29373454,
        54.95176478])

In [963]:
y_test[-5:]

12127    102.1
18412     74.6
24361     97.7
43296     64.7
5338      55.5
Name: value, dtype: float64

###

In [964]:
y_pred[:5]

array([89.15678184, 51.15348862, 38.45166245, 98.89887216, 68.06379738])

In [965]:
y_test[:5]

24906    88.9
8978     49.9
6294     39.4
14810    99.2
9367     68.5
Name: value, dtype: float64